@use '@/assets/scss/variables' as *;

.feedback-hero {
    background-image: url('@/assets/images/background-feedbacks.png');
    background-size: cover;
}

#feedback {
    background-color: #eff5f0;
    // height: 634px;
}

.feedback-title {
    font-size: 86px;
    font-weight: 700;
    line-height: 104px;
    letter-spacing: center;
    text-align: center;
    color: #fff;
}

.content-feedback {
    background-color: #eff5f0;
    height: 634px;
    display: flex;
    flex-direction: column;

    & .content-descricao {
        width: 90%;
        margin: 80px auto;
        display: flex;
        justify-content: space-around;
        & p {
            margin-top: 10px;
            // text-align: justify;
            word-spacing: 10px;
            line-height: 30px;
        }

        & .content-info {
            width: 50%;

            & .content-titulo {
                display: flex;
                & h1 {
                    margin-left: 20px;
                }
            }
        }
    }

    & .content-imagem {
        & img {
            width: 450px;
            height: 400px;
            border-radius: 20px;
        }
    }

    & .btn-feedback {
        margin: auto;
    }
}

.feedback-title {
    font-size: 86px;
    font-weight: 700;
    line-height: 104px;
    letter-spacing: center;
    text-align: center;
    color: #fff;
}
